hl {background:yellow}
sutra {font-size:200%;}
chapter {font-size:150%;}
pb {white-space:pre;font-size:50%;
	background-color: yellow;
	#-webkit-transition:-webkit-transform 0.2s ease-in; 
}
pb:after {
	#position:absolute;
	text-align: center;
	border-top: 1px black dotted;
	
	color: brown;
	margin-top: -2px;
	background-repeat: repeat-x;
	content: "[" attr(id) "]\a" ;
	font-weight: bolder;
	
	#background-image: url("linepattern.png");
	width:100%;
}
pb:hover {
	#-webkit-transform:scale(3); #doesn't work
}
.pagetext {font-size:200%;}

tk.p:hover {background:red;color:yellow;}

slot:hover , slot.hover {border-bottom:dotted;border-width:2px;cursor:pointer;} 
tk:hover  {border-bottom:solid;border-color:brown;cursor:pointer;} 
tk.hover {background:pink;}
tk.played {background:yellow;}
slot.selected {background:lightyellow;}
tk.selected {background:yellow;}

#error {color:red;}

tk.hasparallel {border-bottom:solid;border-width:2px;border-color:silver;}
