<input class="search-query" id="inputpb" type="text" value="7.3a"></input>
<a id="btnsettext" class="btn btn-primary">Settext</a>
<a id="btnsave" class="btn btn-primary">Save</a><span id="message"></span>