<div id="tagset">
	<%for (var i in tags){%>
<label><input type="radio" name="tag" tagname="<%=tags[i].name%>" <%if (tags[i].default) {%>checked<%}%>></input><%=tags[i].name%><%if(tags[i].style){%><span style="<%=tags[i].style%>">[style]</span><%}%><%if(tags[i].afterstyle){%><span style="<%=tags[i].afterstyle%>"> <%=tags[i].data%><%}%> </label>
<%}%>
</div>